@model StockApp.Models.DocumentTypeModel

@{
    ViewData["Title"] = "DocumentTypeDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Stergere Tip Document</h1>

<h3></h3>
<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2" hidden>
            @Html.DisplayNameFor(model => model.DocTypeId)
        </dt>
        <dd class = "col-sm-10" hidden>
            @Html.DisplayFor(model => model.DocTypeId)
        </dd>
        <dt class = "col-sm-2">
           <label>Tip Document</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocType)
        </dd>
    </dl>
    <h3></h3>
    <form asp-action="Delete">
        <input type="submit" value="Stergere" class="btn btn-danger" /> 
        <h3></h3>
        <a asp-action="Index" class="btn btn-primary" >Inapoi</a>
    </form>
</div>
