@model StockApp.Models.SellersModel

@{
    ViewData["Title"] = "SellersCreate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adaugare Furnizor</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger" ></div>
@*            <div class="form-group" hidden >
                <label asp-for="SellerId" class="control-label"></label>
                <input asp-for="SellerId" class="form-control" />
                <span asp-validation-for="SellerId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label  class="control-label">Furnizor</label>
                <input asp-for="SellerName" class="form-control" />
                <span asp-validation-for="SellerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerUic" class="control-label"></label>
                <input asp-for="SellerUic" class="form-control" />
                <span asp-validation-for="SellerUic" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerCountry" class="control-label"></label>
                @Html.DropDownList("SellerCountry", new SelectList(ViewBag.Countries, "Value", "Text"),new {@class="form-control"})
                <span asp-validation-for="SellerCountry" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerDistrict" class="control-label"></label>
                @Html.DropDownList("SellerDistrict", new SelectList(ViewBag.Districts, "Value", "Text"),new {@class="form-control"})
                <span asp-validation-for="SellerDistrict" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerAddress" class="control-label"></label>
                <input asp-for="SellerAddress" class="form-control" />
                <span asp-validation-for="SellerAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SellerPhone" class="control-label"></label>
                <input asp-for="SellerPhone" class="form-control" />
                <span asp-validation-for="SellerPhone" class="text-danger"></span>
            </div>
@*            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="BlackListed" /> @Html.DisplayNameFor(model => model.BlackListed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="BlackListMotive" class="control-label"></label>
                <input asp-for="BlackListMotive" class="form-control" />
                <span asp-validation-for="BlackListMotive" class="text-danger"></span>
            </div>*@
          @*  <div class="form-group">
                <label asp-for="BlackListTime" class="control-label"></label>
                <input asp-for="BlackListTime" class="form-control" />
                <span asp-validation-for="BlackListTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BlackListWho" class="control-label"></label>
                <input asp-for="BlackListWho" class="form-control" />
                <span asp-validation-for="BlackListWho" class="text-danger"></span>
            </div>*@
            <h3></h3>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<h3></h3>
<div>
    <a asp-action="Index" class="btn btn-primary" >Inapoi </a>
</div>

