html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
     background-image: url(C:\image\pexels-photo-673648.jpeg);
     margin-bottom: 60px;
}